@charset "UTF-8";

.email {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form {
   box-sizing: border-box;
   width: 100%;
   padding: 24px 40px 40px 24px;
   background-color: var(--color1);
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
   border-radius: 4px;
}

.form .row {
   display: block;
   padding: 10px;
}

.form .input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color5);
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: var(--color4);
}

.form .textarea {
    display: block;
    width: 100%;
    height: 150%;
    padding: 8px;
    border: 1px solid var(--color5);
    border-radius: 4px;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
}

.form .btn {
    display: block;
    padding: 16px 32px;
    margin-left: 8px;
    background-color: var(--color3);
    color: var(--color1);
    font-size: 1.2em;
    border: 1px solid var(--color5);
    border-radius: 4px;
}

.form .btn:hover {
    cursor: pointer;
}

/* Social Media */
.media-social {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

/* Parceiros */
h3 {
    text-indent: 36px;
}

.parcerias, .apoiadores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    height: 160px;
}

/* Área de Atuação */
.area > img {
    position: relative;
    width: 100%;
}

.area > h2 {
    margin-bottom: 32px;
}

@media (min-width: 768px) {

    .redes-sociais img {
        width: 96px;
        height: 96px;
        margin: 0 16px;
    }

    .parcerias-e-apoios > p {
        margin: 32px 0px;
    }

    .parcerias div img, .apoiadores div img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .redes-sociais img {
        width: 64px;
        height: 64px;
        margin: 0 4px;
    }

    .parcerias-e-apoios > p {
        margin: 16px 0px;
    }

    .content {
        height: 72px;
    }

    .parcerias div img, .apoiadores div img {
        width: auto;
        height: 88px;
    }

    /* Localização */
    /* #gmap {
        overflow: hidden;
        height: auto;
        width: 100%;
        color: var(--color3)
    }

    #gmap_canvas {
        height: 280px;
        width: 100%;
    }

    #gmap_canvas img {
        max-width: none;
        background: none;
    }
    
    .gm-ui-hover-effect {
        display: none;
    } */
}