@charset "UTF-8";

h1 {
    color: var(--color3);
    font-family: var(--fontTitle);
    font-size: 7rem;
    text-align: center;
    text-shadow: 4px 4px 0px hsla(0, 0%, 0%, 1);
}

.bg-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quote, .autora {
    margin: 16px 0px;
    color: var(--color1);
    font-family: var(--font1);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
}

.quote {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}

.autora {
    font-size: 1.2rem;
    align-self: flex-end;
}

/* Main Início */
.description {
    text-align: justify;
    margin-bottom: 48px;
}

.embed {
    width: 100%;
    height: 400px;
}

/* Como funciona e Serviços*/
.func-container, .serv-container {
    height: auto;
}

.func-cards, .serv-cards {
    width: 100%;
    margin: 32px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px
}

.func-card, .serv-card {
    height: auto;
    padding: 16px;
    border-radius: 5px;
    background: var(--color1);
    box-shadow: 0px 0px 4px rgba(241, 90, 37, 0.3);
    font-size: 1.8rem;
    text-indent: 16px;

    flex-grow: 1;
}

.serv-card {
    width: 120px;
}

.func-card > p, .serv-card > p {
    text-align: center;
    text-indent: 0;
}

.func-card > div, .serv-card > div {
    height: 120px;
    margin: 16px 24px 24px 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 150ms;
}

.func-img1 {
    background-image: url(../img/funcionamento/01-proposal.png);
}

.func-img2 {
    background-image: url(../img/funcionamento/02-pagamento.png);
}

.func-img3 {
    background-image: url(../img/funcionamento/03-entrada.png);
}

.func-img4 {
    background-image: url(../img/funcionamento/04-inicio.png);
}

.func-img5 {
    background-image: url(../img/funcionamento/05-financeamento.png);
}

.func-img6 {
    background-image: url(../img/funcionamento/06-entrega.png);
}

.serv-img1 {
    background-image: url(../img/funcionamento/11-gestao.png);
}

.serv-img2 {
    background-image: url(../img/funcionamento/12-especializada.png);
}

.serv-img3 {
    background-image: url(../img/funcionamento/13-qualidade.png);
}

.serv-img4 {
    background-image: url(../img/funcionamento/14-trintavezes.png);
}

@media (min-width: 768px) {

    /* Header Início */
    h1 {
        margin: 0px -160px 0px -160px;
    }

    header {
        background: url('../img/bg.jpg') no-repeat fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }

    .bg-h1 {
        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        height: auto;
        border-radius: 24px;
        margin: 0 8%;
        padding: 4%;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
    }

    .divider {
        background: transparent url(../img/divider.png) repeat-x;
        background-position-y: bottom;
        height: 80px;
        width: 100vw;
        align-self: flex-end;
    }

    /* Como funciona e Serviços*/
    .func-container, .serv-container {
        height: auto;
    }

    .func-cards {
        width: 100%;
        margin: 32px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px
    }

    .func-card {
        height: auto;
        padding: 16px;
        border-radius: 5px;
        background: var(--color1);
        box-shadow: 0px 0px 4px rgba(241, 90, 37, 0.3);
        font-size: 1.8rem;
        text-indent: 16px;

        flex-grow: 1;
    }

    .func-card > p {
        text-align: center;
        text-indent: 0;
    }

    .func-card > div {
        height: 120px;
        margin: 16px 24px 24px 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 150ms;
    }

        @media (min-width: 1024px) {

        /* Header Início */
        header {      
            align-items: flex-end;
        }

        .bg-h1 {
            width: 35%;
        }

        /* Main Início */
        .description-container {
            width: 800px;
        }

        /* Como funciona e Serviços*/
        .func-card {
            width: 28%;
        }
    }

        @media (min-width: 768px) and (max-width: 1023px) {

        /* Header Início */
        header {      
            align-items: center;
        }

        .bg-h1 {
            width: 75%;
        }

        /* Main Início */
        .description-container {
            width: 100%;
        }

        /* Como funciona e Serviços*/
        .func-card {
            width: 25%;
        }
    }
}

@media (max-width: 767px) {

    /* Header Início */
    h1 {
        line-height: 80px;
    }

    header {
        background: url('../img/bg-mobile.jpg') no-repeat fixed;
        background-size: cover;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
        width: 100%;
        height: 90vh;
        margin-bottom: 48px;
    }

    .bg-h1 {
        background: rgba(0, 0, 0, 0.6);
        box-sizing: border-box;
        height: 100%;
        padding: 24px;
    }

    .divider {
        display: none;
    }

    /* Main */
    .description-container {
        width: 100%;
    }

    /* Como funciona e Serviços*/
    .func-card {
        width: 40%;
    }
}