@charset "UTF-8";

h1 {
    color: var(--color3);
    font-family: var(--fontTitle);
    font-size: 7rem;
    text-align: center;
    text-shadow: 4px 4px 0px hsla(0, 0%, 0%, 1);
}

@media (min-width: 1024px) {

    /* Header Início */
    h1 {
        margin: 0px -160px 0px -160px;
    }

    header {
        background: url('../img/bg.jpg') no-repeat fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;
    }

    .bg-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        width: 35%;
        height: auto;
        border-radius: 25px;
        margin: 0 8%;
        padding: 4%;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
    }

    .quote, .autora {
        margin: 16px 0px;
        color: var(--color1);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
    }

    .quote {
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
    }

    .autora {
        font-size: 1.2rem;
        align-self: flex-end;
    }

    .divider {
        background: transparent url(../img/divider.png) repeat-x;
        background-position-y: bottom;
        height: 80px;
        width: 100vw;
        align-self: flex-end;
    }

    /* Main Início */
    main {
        height: auto;
        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;
    }

    .description-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description {
        max-width: 600px;
        text-align: justify;
        font-size: 1.4rem;
        margin-bottom: 48px;
    }

    .embed {
        width: 600px;
        height: 344px;
    }

    /* Como funciona */
    .func-container, .serv-container {
        width: 800px;
        height: auto;
    }

    .func-cards {
        width: 800px;
        margin: 32px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px
    }

    .func-card {
        width: 28%;
        height: auto;
        padding: 16px;
        border-radius: 5px;
        background: var(--color1);
        box-shadow: 0px 0px 4px rgba(241, 90, 37, 0.3);
        font-size: 1.8rem;
        text-indent: 16px;
    }

    .func-card > p {
        text-align: center;
        text-indent: 0;
    }

    .func-card > div {
        height: 120px;
        margin: 16px 24px 24px 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 150ms;
    }

    .func-img1 {
        background-image: url(../img/funcionamento/4105763.png);
    }

    .func-img2 {

    }

    .func-img3 {

    }

    .func-img4 {

    }

    .func-img5 {

    }

    /* Serviços Inclusos */

}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Header Início */
    h1 {
        margin: 0px -160px 0px -160px;
    }

    header {
        background: url('../img/bg.jpg') no-repeat fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    .bg-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        width: 75%;
        height: auto;
        border-radius: 25px;
        margin: 0 8%;
        padding: 4%;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
    }

    .quote, .autora {
        margin: 16px 0px;
        color: var(--color1);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
    }

    .quote {
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
    }

    .autora {
        font-size: 1.2rem;
        align-self: flex-end;
    }

    .divider {
        background: transparent url(../img/divider.png) repeat-x;
        background-position-y: bottom;
        height: 80px;
        width: 100vw;
        align-self: flex-end;
    }

    /* Main Início */
    main {
        height: 80vh;
        padding: 24px;
        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .description {
        max-width: 600px;
        text-align: justify;
        font-size: 1.4rem;
    }

    .embed {
        width: 600px;
        height: 344px;
    }
}

@media (max-width: 767px) {

    /* Header Início */
    h1 {
        line-height: 80px;
    }

    header {
        background: url('../img/bg-mobile.jpg') no-repeat fixed;
        background-size: cover;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
        width: 100%;
        height: 90vh;
        margin-bottom: 48px;
    }

    .bg-h1 {
        background: rgba(0, 0, 0, 0.6);
        box-sizing: border-box;
        height: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote, .autora {
        margin: 16px 0px;
        color: var(--color1);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
    }

    .quote {
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
    }

    .autora {
        font-size: 1.2rem;
        align-self: flex-end;
    }

    .divider {
        display: none;
    }

    /* Main */
    main {
        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;

        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .description {
        text-align: justify;
    }

    .embed {
        width: 100%;
        height: 50%;
    }
}