@charset "UTF-8";

h1 {
    color: var(--color3);
    font-family: var(--fontTitle);
    font-size: 7rem;
    text-align: center;
    text-shadow: 4px 4px 0px hsla(0, 0%, 0%, 1);
}

@media (min-width: 1024px) {

    /* Header Início */
    h1 {
        margin: 0px -160px 0px -160px;
    }

    header {
        background: url('../img/bg.jpg') no-repeat fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;
    }

    .bg-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        width: 35%;
        height: auto;
        border-radius: 25px;
        margin: 0 8%;
        padding: 4%;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
    }

    .quote, .autora {
        margin: 16px 0px;
        color: var(--color1);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
    }

    .quote {
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
    }

    .autora {
        font-size: 1.2rem;
        align-self: flex-end;
    }

    .divider {
        background: transparent url(../img/divider.png) repeat-x;
        background-position-y: bottom;
        height: 80px;
        width: 100vw;
        align-self: flex-end;
    }

    /* Main Início */
    main {
        height: 80vh;
        padding: 24px;
        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;
    }

    .description {
        max-width: 600px;
        text-align: justify;
        font-size: 1.4rem;
    }

    .embed {
        width: 600px;
        height: 344px;
    
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {

    /* Header Início */
    h1 {
        line-height: 80px;
    }

    header {
        background: url('../img/bg-mobile.jpg') no-repeat fixed;
        background-size: cover;
        box-shadow: 0px 2px 4px 2px hsla(0, 0%, 0%, 0.4);
        width: 100%;
        height: 90vh;
    }

    .bg-h1 {
        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        height: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote, .autora {
        margin: 16px 0px;
        color: var(--color1);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.6);
    }

    .quote {
        font-size: 1.4rem;
        font-style: italic;
        text-align: center;
    }

    .autora {
        font-size: 1.2rem;
        align-self: flex-end;
    }

    .divider {
        display: none;
    }

    /* Main */
    main {
        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;

        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .description {
        text-align: justify;
    }

    .embed {
        width: 100%;
        height: 50%;
    }
}