@charset "UTF-8";

.aboutazatxt {
    text-align: justify;
}

.card {
    padding: 8px 16px;
    margin: 16px 0px;
    text-align: center;
    background: var(--color5);
    background-size: contain;
    border-radius: 16px;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > p {
    font-size: 120%;
    color: var(--color2);
    text-indent: 0;
}

/* Section 2 */
.description-owner > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.ownertxt {
    text-align: justify;
}

.revista > img {
    width: 50%;
}

.revista {
    display: flex;
    gap: 8px;
}

@media (min-width: 768px) {

    /* Section 1 */
    .aboutaza {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .aboutazatxt {
        text-align: justify;
    }

    .cards {
        flex-shrink: 0;
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .aboutcontent {
        display: flex;
        gap: 16px;
    }

    .aboutaza > header {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card {
        height: 188px;
    }

    /* Section 2 */
    .aboutowner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .description-owner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .ownertitle {
        align-self: flex-end;
    }

    @media (min-width: 1024px) {

        /* Section 1*/
        .cards {
            width: 280px;
        }

        .telhadinho {
            width: 0; 
            height: 0; 
            border-left: 140px solid transparent;
            border-right: 140px solid transparent;
            border-bottom: 100px solid var(--color3);
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {

        /* Section 1*/
        .cards {
            width: 240px;
        }

        .telhadinho {
            width: 0; 
            height: 0; 
            border-left: 120px solid transparent;
            border-right: 120px solid transparent;
            border-bottom: 100px solid var(--color3);
        }
    }
}

@media (max-width: 767px) {

    /* Section 1 */
    .aboutaza {
        min-height: auto;
        max-width: 100%;
        margin-bottom: 56px;
    }

    .aboutazatxt {
        text-align: justify;
    }

    .telhadinho {
        display: none;
    }

    .card {
        height: 120px;
    }

    /* Section 2 */
    .aboutowner {
        max-width: 100%;
        padding-top: 0;
    }

    .description-owner {
        width: 100%;
        text-align: center;
    }
}