@charset "UTF-8";

.register {
    color: var(--color3);
    font-weight: bold;
    letter-spacing: normal;
}

.register:hover {
    text-decoration: underline;
}

.passos-card {
    height: auto;
    padding: 16px;
    border-radius: 4px;
    background: var(--color1);
    box-shadow: 0px 0px 4px rgba(241, 90, 37, 0.3);
    font-size: 1.8rem;
    text-indent: 16px;
}

.passos-card > p {
    text-align: center;
    text-indent: 0;
}

.passos-card > div, .passos-card > div:hover {
    height: 120px;
    margin: 16px 24px 24px 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 150ms;
}

.passos-img1 {
    background-image: url(../img/servicos/01-registro.png);
}

.passos-img2 {
    background: url(../img/servicos/02-contato.png);
}

.passos-img3 {
    background: url(../img/servicos/03-destino.png);
}

.passos-img4 {
    background: url(../img/servicos/04-compras.png);
}

.passos-img5 {
    background: url(../img/servicos/05-pagamento.png);
}

.passos-img6 {
    background: url(../img/servicos/06-obra.png);
}

/* Sonhos Realizados */
#carousel {
    width: 100%;  
}

.afterbefore {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

#items {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.foto {
    height: 100%;
    
    scroll-snap-align: start;
    pointer-events: none;
}

@media (min-width: 768px) {

    /* Passo a Passo */
    .passos-container {
        margin: 32px 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    /* Sonhos Realizados */
    .afterbefore p {
        text-indent: 0;
        margin: 36px 0px 16px 0px;
        font-size: 1.2rem;
    }
    
    .passos-card {
        width: 250px;
    }

    .passos-card > div, .passos-card > div:hover {
        transition: 150ms;
    }

    .passos-img1:hover {
        background: url(../img/servicos/01-registro.gif);
    }

    .passos-img2:hover {
        background: url(../img/servicos/02-contato.gif);
    }

    .passos-img3:hover {
        background: url(../img/servicos/03-destino.gif);
    }

    .passos-img4:hover {
        background: url(../img/servicos/04-compras.gif);
    }

    .passos-img5:hover {
        background: url(../img/servicos/05-pagamento.gif);
    }

    .passos-img6:hover {
        background: url(../img/servicos/06-obra.gif);
    }

    /* Sonhos Realizados */
    #items {
        scrollbar-width: thin; /* firefox */
        scrollbar-color: var(--color3) var(--color5); /* firefox */
    }

    .foto {
        flex: none;
        text-align: center;
        width: 100%;
        height: 600px;
        
        scroll-snap-align: start;
        pointer-events: none;
    }

    .foto img {
        width: 49%;
        height: 95%;
        
        object-fit: cover;
    }

            /* Scrollbar */
            #items::-webkit-scrollbar {
                border-radius: 20px;
            }
            
            #items::-webkit-scrollbar-track {
                background: var(--color5);
            }
            
            #items::-webkit-scrollbar-thumb {
                background: var(--color3);
                border-radius: 20px;
                border: 3px solid var(--color5);
            }

    /* Kits de Serviços */
    .kits > h2 {
        margin-bottom: 32px;
    }

    .kit-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px 8px;
    }

    .kit-card {
        background-color: var(--color5);
        border-radius: 16px;
        box-sizing: border-box;
        height: auto;
        padding: 24px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        font-size: 1.8rem;
        text-indent: 16px;
    }

    .kit-card {
        background-color: var(--color5);
        border-radius: 16px;
        box-sizing: border-box;
        width: 48%;
        height: auto;
        padding: 24px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        font-size: 1.8rem;
        text-indent: 16px;
    }

    .kit-card > p {
        color: var(--color2);
        letter-spacing: 0;
        text-align: justify;
        text-indent: 0px;
    }

    .kit-card > h3 {
        text-indent: 32px;
        margin-bottom: 16px;
    }

    .kitcard-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .kit-card > div {
        height: 80px;
        width: 80px;
        margin: 0px 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
    }

    .kit-img1 {
        background-image: url(../img/servicos/11-bathroom.png);
    }

    .kit-img2 {
        background-image: url(../img/servicos/12-bedroom.png);
    }

    .kit-img3 {
        background-image: url(../img/servicos/13-livingroom.png);
    }

    .kit-img4 {
        background-image: url(../img/servicos/14-kitchen.png);
    }

    .kit-img5 {
        background-image: url(../img/servicos/15-laundry.png);
    }

    .kit-img6 {
        background-image: url(../img/servicos/16-backyard.png);
    }

    @media (min-width: 1024px) {
        .passos-card {
            width: 28%;
        }

        .kit-card {
            width: 380px;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .passos-card {
            width: 40%;
        }

        /* Kits de Serviços */
        .kit-card {
            width: 48%;
        }
    }
}

@media (max-width: 767px) {

    /* Passo a Passo */
    .passos-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px
    }

    .passos-card {
        width: 40%;
    }

    /* Sonhos Realizados */
    .afterbefore {
        justify-content: space-around;
    }

    .afterbefore p {
        display: none;
    }

    .foto {
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .foto img {
        width: auto;
        height: 300px;
        
        object-fit: cover;
    }
    
                /* Scrollbar */
                #items::-webkit-scrollbar {
                    border-radius: 20px;
                }
                
                #items::-webkit-scrollbar-track {
                    background: var(--color5);
                }
                
                #items::-webkit-scrollbar-thumb {
                    background: var(--color3);
                    border-radius: 20px;
                    border: 3px solid var(--color5);
                }

    /* Kits de Serviços */
}