@charset "UTF-8";

/* Fontes */
@font-face {
    font-family: Nova;
    src: url(../fonts/nova.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/centurygothicregular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/centurygothicbold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/centurygothicitalic.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/centurygothicbolditalic.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* Base */
:root {
    font-size: 16px;
    --color1: #fff;
    --color2: #42210B;
    --color3: #f15a24;
    --color4: #888;
    --color5: #ddd;
    --font1: 'Century Gothic';
    --fontTitle: Nova;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Century Gothic';
    color: var(--color4);
    width: auto;
}

a {
    text-decoration: none;
}

section {
    padding-top: 64px;
}

@media (min-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;
        padding: 0px 48px 64px 48px;
    }

    h2 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.8rem;
        font-weight: bold;
        text-indent: 36px;
    }

    h3 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.6rem;
        font-weight: bold;
    }

    p {
        color: var(--color4);
        font-family: var(--font1);
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-indent: 36px;
    }

    a {
        text-decoration: none;
    }

    .creditos > p {
        font-size: 1rem;
    }

    /* Menu */
    nav {
        position: fixed;
        background: var(--color1) url(../img/cobogo.png);
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 0px 40px;
        box-shadow: 0px 1px 1px rgba(241, 90, 37, 0.3);
        font-size: 1rem;
        text-transform: uppercase;
    }

    nav, ul {
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    .outline{
        padding-bottom: 4px;
    }

    .ativo > .outline {
        border-bottom: 3px solid var(--color3);
    }

    .inativo {
        color: var(--color4);
    }

    .inativo:hover > .outline {
        border-bottom: 3px solid var(--color3); 
        transition: 100ms;
    }

    .ativo {
        color: var(--color3);
        font-weight: bold;
    }
    
    .logo {
        width: 120px;
    }

    .navbar a {
        text-decoration: none;
    }

    .icon {
        display: none;
    }

    .space {
        height: 80px;
    }

    /* Footer */
    footer {
        background-color: var(--color2);
        box-shadow: 0px -2px 4px 2px hsla(0, 0%, 0%, 0.4);
        padding: 16px 40px;
        color: var(--color1);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .foot-mobile {
        display: none;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .social-button {
        width: 24px;
    }

    .social-buttons {
        gap: 0px 8px;
    }

    footer a, footer p {
        text-decoration: none;
        color: var(--color1);
        font-size: 1rem;
    }

    .creditos, .parceiros {
        font-size: 0.8rem;
    }

    .indent {
        text-indent: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: transparent url(../img/pattern.png) repeat;
        background-size: stretch;
        background-position: top;
        padding: 0px 24px 64px 24px;
    }

    h2 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.8rem;
        font-weight: bold;
        text-indent: 36px;
    }

    h3 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.6rem;
        font-weight: bold;
    }

    p {
        color: var(--color4);
        font-family: var(--font1);
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-indent: 36px;
    }

    a {
        text-decoration: none;
    }

    .creditos > p {
        font-size: 1rem;
    }

    /* Menu */
    nav {
        position: fixed;
        background: var(--color1) url(../img/cobogo.png);
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 0px 24px;
        box-shadow: 0px 1px 1px rgba(241, 90, 37, 0.3);
        font-size: 1rem;
        text-transform: uppercase;
    }

    nav, ul {
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    .outline{
        padding-bottom: 4px;
    }

    .inativo {
        color: var(--color4);
    }


    .ativo {
        color: var(--color3);
        font-weight: bold;
    }
    
    .logo {
        width: 120px;
    }

    .navbar a {
        text-decoration: none;
    }

    .icon {
        display: none;
    }

    .space {
        height: 80px;
    }

    /* Footer */
    footer {
        background-color: var(--color2);
        box-shadow: 0px -2px 4px 2px hsla(0, 0%, 0%, 0.4);
        padding: 16px 40px;
        color: var(--color1);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .foot-mobile {
        display: none;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .social-button {
        width: 24px;
    }

    .social-buttons {
        gap: 0px 8px;
    }

    footer a, footer p {
        text-decoration: none;
        color: var(--color1);
        font-size: 1rem;
    }

    .creditos, .parceiros {
        font-size: 0.8rem;
    }

    .indent {
        text-indent: 24px;
    }
}

@media (max-width: 767px) {

    main {
        padding: 0px 24px 64px 24px;
    }

    h2 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 24px;
        text-indent: 36px;
    }

    h3 {
        color: var(--color3);
        font-family: var(--font1);
        font-size: 1.6rem;
        font-weight: bold;
    }

    p {
        color: var(--color4);
        font-family: var(--font1);
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-indent: 36px;
    }

    .creditos > p {
        font-size: 1rem;
    }

    /* Menu */
    nav {
        background: url(../img/cobogo2.png) repeat;
        background-size: stretch;
        box-shadow: 0px 1px 1px rgba(241, 90, 37, 0.3);
        text-transform: uppercase;
        font-size: 1rem;
        overflow: hidden;
        position: relative;
      }
      
    .navtop {
        padding-bottom: 2px;
    }

    #navbar {
        height: 90vh;
        display: none;
        border-top: solid 2px var(--color3);
        padding: 4px;
    }

    nav a {
        color: var(--color2);
        padding: 14px 16px;
        text-align: center;
        display: block;
    }

    nav .ativo, nav .inativo {
        padding: 36px 0px;
    }

    nav a.icon {
        display: block;
        position: absolute;
        right: 4px;
        top: 0;
        font-size: 2rem;
        font-weight: bold;
    }

    nav a:hover {
        background-color: var(--color5);
        color: var(--color3);
        font-weight: bold;
        transition: 500ms;
    }

    .logo {
        width: 112px;
    }

    /* Footer */
    footer {
        background-color: var(--color2);
        box-shadow: 0px -2px 4px 2px hsla(0, 0%, 0%, 0.4);
        padding: 32px 40px;
        color: var(--color1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .foot-web {
        display: none;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .social-button {
        width: 36px;
    }

    .social-buttons a {
        margin: 0px 8px;
    }

    footer a, footer p {
        text-decoration: none;
        color: var(--color1);
        font-size: 1.4rem;
    }

    .creditos, .parceiros {
        display: none;
    }
}